<div class="box">
  <h1>Pokemons</h1>
  <div class="search-bar">
    <mat-form-field appearance="outline">
      <mat-label>Search by name or type</mat-label>
      <input matInput [(ngModel)]="searchTerm" placeholder="Enter Pokémon name or type..." />
    </mat-form-field>
  </div>
  <div class="pokemon-list">
    <mat-card
      *ngFor="let pokemon of filteredPokemons(); let i = index"
      class="pokemon-card"
      [ngStyle]="{ '--pokemon-bg': pokemonGradients()[i] }"
    >
      <div class="card">
        <h3 class="mat-headline-6">{{ pokemon.name | titlecase }}</h3>
        <img [ngSrc]="pokemon.sprites.front_default" [alt]="pokemon.name" fill priority />
        <ul class="pokemon-types">
          <li *ngFor="let type of pokemon.types" class="mat-body-2">
            {{ type.type.name | uppercase }}
          </li>
        </ul>
      </div>

      <mat-divider></mat-divider>

      <button mat-button color="primary" [routerLink]="['/pokemon', pokemon.id]">
        View Details
      </button>
    </mat-card>
  </div>

  <div class="pagination">
    <button mat-button (click)="prevPage()" [disabled]="currentPage === 0">Step Back</button>
    <button mat-button (click)="nextPage()">Load More</button>
  </div>
</div>
